@import "../abstracts/variables";

:root {
  font-family: $ff-primary;
  color: $clr-neutral-900;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
body {
  background-image: linear-gradient(
    to right top,
    #5d7b6f,
    #a4c3a2,
    #b0dab8,
    #eae7d6,
    #d7f9fa
  );
  background-repeat: no-repeat;
  background-size: cover;
}

// .app {
//   margin: 0 auto;
//   max-width: 1440px;
//   min-height: 100vh;
//   border-radius: 15px;
// }

// @media (min-width: 800px) {
//   .app {
//     padding: 0 100px;
//     margin-top: 3vh;
//     min-height: 94vh;
//     flex-wrap: wrap;
//   }
// }
// .app {
//   background-image: linear-gradient(
//     to right top,
//     #5d7b6f,
//     #a4c3a2,
//     #b0dab8,
//     #eae7d6,
//     #d7f9fa
//   );
// }
h1,
h2,
h3 {
  font-family: $ff-accent;
}
