//Variables

$ff-primary: "Roboto", sans-serif;
$ff-accent: "Exo ", sans-serif;

//Colors

$clr-gruen: #a6aa59;
$clr-orange: #ff9642;
$clr-blau: #77acf1;
$clr-lila: #be8abf;

$clr-neutral-100: #e7ebee;
$clr-neutral-500: #333;
$clr-neutral-900: #06111f;
