.main-heading {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  color: $clr-neutral-900;
  text-align: center;
  // background: linear-gradient(
  //   90deg,
  //   $clr-gruen 0%,
  //   $clr-orange 25%,
  //   $clr-blau 50%,
  //   $clr-lila 75%
  // );
}

.page-headings {
  margin-left: 30px;
}

.home,
.contact,
.address,
.hello,
.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

.hello {
  margin-top: 4rem;
}
.casa-image {
  width: 850px;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .casa-image {
    width: 600px;
  }
}
@media only screen and (max-width: 700px) {
  .casa-image {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .casa-image {
    width: 300px;
  }
}

.mitmachen-heading {
  background-color: $clr-lila;
}

.bewegung-heading {
  background-color: $clr-orange;
}

.blumig-heading {
  background-color: $clr-gruen;
}

.technik-heading {
  background-color: $clr-blau;
}
.color-heading {
  background: linear-gradient(
    90deg,
    $clr-gruen 0%,
    $clr-orange 25%,
    $clr-blau 50%,
    $clr-lila 75%
  );
}
