.navBar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
ul {
  display: flex;
}
.navbar li {
  margin: 1rem;
  list-style: none;
  color: $clr-neutral-900;
}

nav li:hover {
  color: $clr-neutral-500;
  transform: scale(1.4);
  transition: 0.2s;
}
